<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet"  type='text/css' href="{{ url_for('static', filename='css/myStyle.css')}}">     
</head>
<body>
    <div class='container'>
        {%for user in data%}
        <h1>Edit User {{user.id}}</h1> 
        <form action='/users/{{user.id}}/edit' method='POST'>
            <label for="first_name">First name:</label><br>
            <input class='input' type="text" name='first_name' value={{user.first_name}}>
            <br>
            <br>
            <label for="last_name">Last name:</label><br>
            <input class='input' type="text" name='last_name' value={{user.last_name}}>
            <br>
            <br>
            <label for="email">Email:</label><br><br>
            <input class='input' type="text" name='email' value={{user.email}}>
            <br>
            <br>
            <input class='button' type="submit" value='UPDATE'>
        </form>
        <p><a href="/users/{{user.id}}">SHOW</a> | <a href="/users">GO BACK</a> </p>
        {%endfor%}
    </div>
    
</body>
</html>