.login_reg_form{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    border: 2px solid black;
    width: 30%;
    height: 520px;
    float: left;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
    color: wheat;
    font-size: 18px;
    float: right;
}

.error{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.navbar{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 2px solid red;
}
.navbar div{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 12px;
    width: 21.1%;
    text-align: center;
    border: 2px solid black;
}

#landing_page{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    height: 80%;
    overflow-y: scroll;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}
