<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  type='text/css' href="{{ url_for('static', filename='css/myStyle.css')}}">
    <title>Email Validation</title>
</head>
<body>
    <div id='messagebox'>
        <p>Message: </p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class='alert {{category}}'>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>
    <h1>Email Validation with DB</h1>
    <form action='/validate' method='POST'>
        <label for='email'>Email:</label>
        <input type="text" name="email" placeholder="Enter valid email"><br>
        <br>
        <input type="submit" value='SUBMIT'>
    </form>
</body>
</html>