#container{
    border: 2px solid blue;
    width: 75%;
    margin: auto;
    height: 500px;
    padding: 20px;
}

#update_bar{
    border: 2px solid blue;
    padding: 5px;
    display: block;
    height: auto;
    text-align: right;
}

#display_box{
    border: 2px solid black;
    padding: 5px;
    display: block;
    height: 220px;
}


#display_table_box{
    height: 170px;
}

#display_table{
    border: 2px solid blue;
    width: auto;
    height: auto;
    overflow-y: scroll;
    align-items: center;
    margin: 20px;
}

#display_table thead{
    display: block;
    padding-left: 1px;
}

#display_table th{
    border: 1px solid black;
    padding-left: auto;
    width: 150px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#display_table tbody{
    display: block;
    overflow: auto;
    height: 100px;
    width: auto;
}

#display_table td{
    border: 1px solid black;
    padding-left: auto;
    width: 150px;
    text-align: center;
}

#display_table tr:nth-child(even){
    background-color: #A9A9A9;
}
