#container{
    margin: auto;
    border: 2px solid black;
    align-content: center;
    text-align: center;
}

#friends_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 2px solid blue;
  width: auto;
  height: auto;
  overflow-y: scroll;
  align-items: center;
  margin: auto;
}

#friends_table thead {
  display:block;
  padding-left: 1px;
}

#friends_table th{
  border: 1px solid #ddd;
  padding-left: auto;
  width: 100px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#friends_table tbody{
  display:block;
  overflow:auto;
  height:100px;
  width:350px;
}

#friends_table td{
  border:1px solid black;
  width: 100px;
  text-align: center;
}

#friends_table tr:nth-child(even){
    background-color: #A9A9A9;
}

#submission_form{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-top: : 3px solid black;
    margin: auto;
    text-align: center;
}
