<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>
    <link rel="stylesheet"  type='text/css' href="{{ url_for('static', filename='css/myStyle.css')}}">
</head>
<body>
    <div>
        <div class='navbar'>
                <div>
                    Welcome {{session['username']}}!
                </div>
                <div>
                    <a href="/dashboard">DASHBOARD</a>
                </div>
                <div>
                    <a href="/review">REVIEW</a>
                </div>
                <div>
                    <a href="/logout">LOG OUT</a>
                </div>
        </div>
        <div id='show_box'>
            {%for recipe in result%}
                <p>Instructions for {{recipe['name']}}</p>
                <br>
                <p>Description: {{recipe.description}}</p>
                <br>
                <p>Under 30 min prep time?: {{recipe.time}}</p>
                <br>
                <p>Instructions:</p>
                <P>{{recipe.instructions}}</P>
                <div>
                    <a href='/review'><button class='show_button' id='go_back'>GO BACK</button></a>
                    <a href='/delete/{{recipe.id}}'><button class='show_button' id='delete'>DELETE</button></a>
                </div>
            {% endfor%}
        </div>
        
    
</body>
</html>